     @import "tailwindcss";
     @import 'swiper/css';
     @import 'swiper/css/navigation';

     .createdPrompt::before,
     .createdPrompt::after {
       background-image: url('src/assets/images/union.png');

     }

     .user-card-wrapper::before,
     .user-card-wrapper::after {
       content: '';
       height: 505px;
       width: 437px;
       position: absolute;
       left: 0;
       display: block;
       background: #1f20366e;
       border-radius: 35px;
     }

     .user-card-wrapper::before {
       rotate: 14deg;
     }

     .user-card-wrapper::after {
       rotate: -14deg;
       top: 0
     }


     .scrollbar-hide {
       -ms-overflow-style: none;
       scrollbar-width: none;
     }

     .scrollbar-hide::-webkit-scrollbar {
       display: none;
     }
     .popup-bg{
      background: url('src/assets/images/blursphereAI.png'), url('src/assets/images/blursmallSphere.png') ;
      background-repeat: no-repeat,no-repeat;
      background-position: center;
      background-size: contain;
      background-size: 680px 680px, 270px 275px, cover;
     }

     :root {
       font-family: "Plus Jakarta Sans", sans-serif;
       line-height: 1.5;
       font-weight: 400;

       color-scheme: light dark;
       color: rgba(255, 255, 255, 0.87);
       background-color: #242424;

       font-synthesis: none;
       text-rendering: optimizeLegibility;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
     }

     a {
       font-weight: 500;
       color: #646cff;
       text-decoration: inherit;
     }

     a:hover {
       color: #535bf2;
     }

     body {
       margin: 0;
       display: flex;
       place-items: center;
       min-width: 320px;
       min-height: 100vh;
     }

     h1 {
       font-size: 3.2em;
       line-height: 1.1;
     }

     button {
       border-radius: 8px;
       border: 1px solid transparent;
       padding: 0.6em 1.2em;
       font-size: 1em;
       font-weight: 500;
       font-family: inherit;
       background-color: #1a1a1a;
       cursor: pointer;
       transition: border-color 0.25s;
     }

     button:hover {
       border-color: #646cff;
     }

     button:focus,
     button:focus-visible {
       outline: 4px auto -webkit-focus-ring-color;
     }

     @media (prefers-color-scheme: light) {
       :root {
         color: #213547;
         background-color: #ffffff;
       }

       a:hover {
         color: #747bff;
       }

       button {
         background-color: #f9f9f9;
       }
     }